[submodule "Desenvolvimento_frond_end/bloco_12/dia_1/exercise-pokedex-state"]
	path = Desenvolvimento_frond_end/bloco_12/dia_1/exercise-pokedex-state
	url = https://github.com/lucasbgama/exercise-pokedex-state
[submodule "Desenvolvimento_frond_end/bloco_13/dia_2/fixar/exercise-router-fixation"]
	path = Desenvolvimento_frond_end/bloco_13/dia_2/fixar/exercise-router-fixation
	url = https://github.com/lucasbgama/exercise-router-fixation
[submodule "Desenvolvimento_frond_end/bloco_13/dia_2/fixar/exercise-pokedex-router"]
	path = Desenvolvimento_frond_end/bloco_13/dia_2/fixar/exercise-pokedex-router
	url = https://github.com/lucasbgama/exercise-pokedex-router
[submodule "Desenvolvimento_frond_end/bloco_13/dia_1/exercise-dog-image"]
	path = Desenvolvimento_frond_end/bloco_13/dia_1/exercise-dog-image
	url = https://github.com/lucasbgama/exercise-dog-image
[submodule "Desenvolvimento_frond_end/bloco_15/dia_1/exercise-todo-list"]
	path = Desenvolvimento_frond_end/bloco_15/dia_1/exercise-todo-list
	url = https://github.com/lucasbgama/exercise-todo-list
[submodule "Desenvolvimento_frond_end/bloco_15/dia_1/exercise-tic-tac-toe"]
	path = Desenvolvimento_frond_end/bloco_15/dia_1/exercise-tic-tac-toe
	url = https://github.com/lucasbgama/exercise-tic-tac-toe
[submodule "Desenvolvimento_frond_end/bloco_15/dia_2/exercise-digimon-finders"]
	path = Desenvolvimento_frond_end/bloco_15/dia_2/exercise-digimon-finders
	url = https://github.com/lucasbgama/exercise-digimon-finders
[submodule "Desenvolvimento_frond_end/bloco_16/dia_2/exercise-react-with-redux-intro"]
	path = Desenvolvimento_frond_end/bloco_16/dia_2/exercise-react-with-redux-intro
	url = https://github.com/lucasbgama/exercise-react-with-redux-intro
[submodule "Desenvolvimento_frond_end/bloco_16/dia_4/exercise-redux-thunk"]
	path = Desenvolvimento_frond_end/bloco_16/dia_4/exercise-redux-thunk
	url = https://github.com/lucasbgama/exercise-redux-thunk
[submodule "Desenvolvimento_frond_end/bloco_16/dia_4/exercise-game-of-thrones-characters"]
	path = Desenvolvimento_frond_end/bloco_16/dia_4/exercise-game-of-thrones-characters
	url = https://github.com/lucasbgama/exercise-game-of-thrones-characters
[submodule "Desenvolvimento_frond_end/bloco_18/dia_1/exercise-contextAPI-refactoring"]
	path = Desenvolvimento_frond_end/bloco_18/dia_1/exercise-contextAPI-refactoring
	url = https://github.com/lucasbgama/exercise-contextAPI-refactoring
[submodule "Desenvolvimento_frond_end/bloco_18/dia_2/exercise-react-hooks-refactoring"]
	path = Desenvolvimento_frond_end/bloco_18/dia_2/exercise-react-hooks-refactoring
	url = https://github.com/lucasbgama/exercise-react-hooks-refactoring
[submodule "Desenvolvimento_frond_end/bloco_18/dia_3/exercise-hooks-useEffect-customHooks"]
	path = Desenvolvimento_frond_end/bloco_18/dia_3/exercise-hooks-useEffect-customHooks
	url = https://github.com/lucasbgama/exercise-hooks-useEffect-customHooks
