[submodule "Desenvolvimento_frond_end/bloco_12/dia_1/exercise-pokedex-state"]
	path = Desenvolvimento_frond_end/bloco_12/dia_1/exercise-pokedex-state
	url = https://github.com/lucasbgama/exercise-pokedex-state
