h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
ul {
    background-color: blue;
}

.fav-color {
    background-color: green;
}

p{
    font-weight: 600;
    font-size: 3em;
}

body {
    font-size: 16px;
}

li {
    font-style: italic;
    line-height: 2em;
    text-align: center;
    text-decoration: underline;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
#brown{
    background-color: brown;
}